
#name, #surname, #age, #email, #phone {
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 10px;
    font-size: 16px;    
}

button {
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
    color: white;
    background-color: #249b24;
    border-radius:10px;
    font-size: 16px;
    padding: 5px;
}